h1 {
	color: green;
	font-size: 50px;
}

article p{
	background-color: #827FB2;
	padding: 15px;
	border: 2px dashed black;
	margin: 15px;
	border-radius: 10px;
	font-size: 1.2em
}

article p:hover {
	background-color: pink;
}

p.first {
	padding-left: 50px;
}
#cage {
	border: 1px solid black;
}