header {
	padding: 8px;
}
p {
	background-color: yellow;

}
h1 {
	text-align: center;
	font-size: 4em;
}
article p {
	;
	padding: 20px;
	color: black;
	font-size: 30px;
}
body {
	color: #FFE5AA
}
 aside section{
	background-image: url(http://www.placecage.com/g/100/100)
}
h4 {
	color: white;
	font-size: 15px;
}